.main-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.card-login {
  border-radius: 3px;
  box-shadow: 2px 1px 16px 3px rgba(0, 0, 0, 0.75);
  background: white
}

.card-instructions {
  margin-top: 12px;
  font-size: 12px;
  color: #808080d1;
}

.card-login-container {
  width: 378px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.card-button-login {
  margin: 20px;
  padding: 10px;
  background: #ffdb006b;
  color: #ff0000ad;
  border-radius: 8px;
  font-weight: 600
}