.container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background:black;
  color:#fff;
  text-align: left;
}

.menu{
  display: flex;
  justify-content: space-around;
}

.middle{
  flex: 1 1 50%;
}

.text-card-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
  width: 350px;
  height: 240px;
  background-color: white;
  box-shadow: 2px 1px 16px 3px rgba(0, 0, 0, 0.75);
}

.card-flex {
  flex: 1 1 30%;
  justify-content: center;
  display: flex;
  padding: 15px;
}

body {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-img-top {
  height: 195px;
  border-radius: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card {
  transition: transform .1s;
  border-radius: 40px;
  border: hidden 2px solid;
}

.card:hover {
  transform: scale(1.1);
  /* border: greenyellow 2px solid; */
}

.container {
  padding: 15px 15px;

}

.card-img {
  width: 350px;
  height: 273px;
}